body{
    background-color: rgb(243, 243, 237);
}
#pic-wrapper{
    text-align: center;
}
#pic{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}